resources/complex.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:plink="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:s0="permission" xmlns:s1="user" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap11enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap11env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12enc="http://www.w3.org/2003/05/soap-encoding" xmlns:soap12env="http://www.w3.org/2003/05/soap-envelope" xmlns:tns="spyne.examples.complex" xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xop="http://www.w3.org/2004/08/xop/include" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="spyne.examples.complex" name="Application">
  <wsdl:types>
    <xs:schema targetNamespace="spyne.examples.complex" elementFormDefault="qualified">
      <xs:import namespace="user"/>
      <xs:complexType name="delete_userResponse"/>
      <xs:complexType name="list_users"/>
      <xs:complexType name="modify_userResponse"/>
      <xs:complexType name="random_user"/>
      <xs:complexType name="super_user"/>
      <xs:complexType name="add_userResponse">
        <xs:sequence>
          <xs:element name="add_userResult" type="xs:integer" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="delete_user">
        <xs:sequence>
          <xs:element name="userid" type="xs:integer" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="get_user">
        <xs:sequence>
          <xs:element name="userid" type="xs:integer" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="list_usersResponse">
        <xs:sequence>
          <xs:element name="list_usersResult" type="s1:UserArray" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="add_user">
        <xs:sequence>
          <xs:element name="user" type="s1:User" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="get_userResponse">
        <xs:sequence>
          <xs:element name="get_userResult" type="s1:User" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="modify_user">
        <xs:sequence>
          <xs:element name="user" type="s1:User" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="random_userResponse">
        <xs:sequence>
          <xs:element name="random_userResult" type="s1:User" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="super_userResponse">
        <xs:sequence>
          <xs:element name="super_userResult" type="s1:User" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="delete_userResponse" type="tns:delete_userResponse"/>
      <xs:element name="list_users" type="tns:list_users"/>
      <xs:element name="modify_userResponse" type="tns:modify_userResponse"/>
      <xs:element name="random_user" type="tns:random_user"/>
      <xs:element name="super_user" type="tns:super_user"/>
      <xs:element name="add_userResponse" type="tns:add_userResponse"/>
      <xs:element name="delete_user" type="tns:delete_user"/>
      <xs:element name="get_user" type="tns:get_user"/>
      <xs:element name="list_usersResponse" type="tns:list_usersResponse"/>
      <xs:element name="add_user" type="tns:add_user"/>
      <xs:element name="get_userResponse" type="tns:get_userResponse"/>
      <xs:element name="modify_user" type="tns:modify_user"/>
      <xs:element name="random_userResponse" type="tns:random_userResponse"/>
      <xs:element name="super_userResponse" type="tns:super_userResponse"/>
    </xs:schema>
    <xs:schema targetNamespace="user" elementFormDefault="qualified">
      <xs:import namespace="permission"/>
      <xs:complexType name="User">
        <xs:sequence>
          <xs:element name="lastname" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="permissions" type="s0:PermissionArray" minOccurs="0" nillable="true"/>
          <xs:element name="userid" type="xs:integer" minOccurs="0" nillable="true"/>
          <xs:element name="username" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="firstname" type="xs:string" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UserArray">
        <xs:sequence>
          <xs:element name="User" type="s1:User" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="User" type="s1:User"/>
      <xs:element name="UserArray" type="s1:UserArray"/>
    </xs:schema>
    <xs:schema targetNamespace="permission" elementFormDefault="qualified">
      <xs:simpleType name="Permission_appType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="library"/>
          <xs:enumeration value="delivery"/>
          <xs:enumeration value="accounting"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="Permission_permsType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="read"/>
          <xs:enumeration value="write"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="Permission">
        <xs:sequence>
          <xs:element name="app" type="s0:Permission_appType" minOccurs="0" nillable="true"/>
          <xs:element name="perms" type="s0:Permission_permsType" maxOccurs="2" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PermissionArray">
        <xs:sequence>
          <xs:element name="Permission" type="s0:Permission" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Permission" type="s0:Permission"/>
      <xs:element name="PermissionArray" type="s0:PermissionArray"/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="add_user">
    <wsdl:part name="add_user" element="tns:add_user"/>
  </wsdl:message>
  <wsdl:message name="add_userResponse">
    <wsdl:part name="add_userResponse" element="tns:add_userResponse"/>
  </wsdl:message>
  <wsdl:message name="random_user">
    <wsdl:part name="random_user" element="tns:random_user"/>
  </wsdl:message>
  <wsdl:message name="random_userResponse">
    <wsdl:part name="random_userResponse" element="tns:random_userResponse"/>
  </wsdl:message>
  <wsdl:message name="super_user">
    <wsdl:part name="super_user" element="tns:super_user"/>
  </wsdl:message>
  <wsdl:message name="super_userResponse">
    <wsdl:part name="super_userResponse" element="tns:super_userResponse"/>
  </wsdl:message>
  <wsdl:message name="delete_user">
    <wsdl:part name="delete_user" element="tns:delete_user"/>
  </wsdl:message>
  <wsdl:message name="delete_userResponse">
    <wsdl:part name="delete_userResponse" element="tns:delete_userResponse"/>
  </wsdl:message>
  <wsdl:message name="list_users">
    <wsdl:part name="list_users" element="tns:list_users"/>
  </wsdl:message>
  <wsdl:message name="list_usersResponse">
    <wsdl:part name="list_usersResponse" element="tns:list_usersResponse"/>
  </wsdl:message>
  <wsdl:message name="get_user">
    <wsdl:part name="get_user" element="tns:get_user"/>
  </wsdl:message>
  <wsdl:message name="get_userResponse">
    <wsdl:part name="get_userResponse" element="tns:get_userResponse"/>
  </wsdl:message>
  <wsdl:message name="modify_user">
    <wsdl:part name="modify_user" element="tns:modify_user"/>
  </wsdl:message>
  <wsdl:message name="modify_userResponse">
    <wsdl:part name="modify_userResponse" element="tns:modify_userResponse"/>
  </wsdl:message>
  <wsdl:service name="UserManager">
    <wsdl:port name="Application" binding="tns:Application">
      <soap:address location="/"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:portType name="Application">
    <wsdl:operation name="add_user" parameterOrder="add_user">
      <wsdl:input name="add_user" message="tns:add_user"/>
      <wsdl:output name="add_userResponse" message="tns:add_userResponse"/>
    </wsdl:operation>
    <wsdl:operation name="random_user" parameterOrder="random_user">
      <wsdl:input name="random_user" message="tns:random_user"/>
      <wsdl:output name="random_userResponse" message="tns:random_userResponse"/>
    </wsdl:operation>
    <wsdl:operation name="super_user" parameterOrder="super_user">
      <wsdl:input name="super_user" message="tns:super_user"/>
      <wsdl:output name="super_userResponse" message="tns:super_userResponse"/>
    </wsdl:operation>
    <wsdl:operation name="delete_user" parameterOrder="delete_user">
      <wsdl:input name="delete_user" message="tns:delete_user"/>
      <wsdl:output name="delete_userResponse" message="tns:delete_userResponse"/>
    </wsdl:operation>
    <wsdl:operation name="list_users" parameterOrder="list_users">
      <wsdl:input name="list_users" message="tns:list_users"/>
      <wsdl:output name="list_usersResponse" message="tns:list_usersResponse"/>
    </wsdl:operation>
    <wsdl:operation name="get_user" parameterOrder="get_user">
      <wsdl:input name="get_user" message="tns:get_user"/>
      <wsdl:output name="get_userResponse" message="tns:get_userResponse"/>
    </wsdl:operation>
    <wsdl:operation name="modify_user" parameterOrder="modify_user">
      <wsdl:input name="modify_user" message="tns:modify_user"/>
      <wsdl:output name="modify_userResponse" message="tns:modify_userResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Application" type="tns:Application">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="add_user">
      <soap:operation soapAction="add_user" style="document"/>
      <wsdl:input name="add_user">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="add_userResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="random_user">
      <soap:operation soapAction="random_user" style="document"/>
      <wsdl:input name="random_user">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="random_userResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="super_user">
      <soap:operation soapAction="super_user" style="document"/>
      <wsdl:input name="super_user">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="super_userResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_user">
      <soap:operation soapAction="delete_user" style="document"/>
      <wsdl:input name="delete_user">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="delete_userResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="list_users">
      <soap:operation soapAction="list_users" style="document"/>
      <wsdl:input name="list_users">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="list_usersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_user">
      <soap:operation soapAction="get_user" style="document"/>
      <wsdl:input name="get_user">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="get_userResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modify_user">
      <soap:operation soapAction="modify_user" style="document"/>
      <wsdl:input name="modify_user">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="modify_userResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
